.header {
    padding: 0% 5% 0% 0%;
    background-color: #c1c1c1;
    top: 0;
    width: 100%;
    height: fit-content;
}

.header-project-logo {
    width: 7%;
    border-radius: 50%;
    margin: 1%;
}

.header-project-heading {
    box-sizing: border-box;
    /* font-family: fantasy; */
    font-size: 50px;
    color: #8f2726;
}

.header-button {
    width: 50%;
    margin-left: 4%;
    font-weight: 550;
}

.header-hamburger {
    width: 7%;
}

.vertical-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 2%;

}

/* Style each button individually if needed */
.vertical-list button {
    margin-bottom: 5px;
    /* Add spacing between the buttons */
}

.expandedButton {
    width: 96%;
    margin-left: 2%
}

/* Media Query for smaller screens */
@media (max-width: 768px) {
    .header-project-heading {
        font-size: 40px;
        /* Adjust the font size for smaller screens */
    }
}

/* Media Query for even smaller screens */
@media (max-width: 480px) {
    .header-project-heading {
        font-size: 30px;
        /* Adjust the font size for even smaller screens */
    }
}

.example-spacer {
    flex: 1 1 auto;
}

.img-account-profile {
    height: 10rem;
}
.rounded-circle {
    border-radius: 50% !important;
}
.card {
    box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);
}
.card .card-header {
    font-weight: 500;
}
.card-header:first-child {
    border-radius: 0.35rem 0.35rem 0 0;
}
.card-header {
    padding: 1rem 1.35rem;
    margin-bottom: 0;
    background-color: rgba(33, 40, 50, 0.03);
    border-bottom: 1px solid rgba(33, 40, 50, 0.125);
}
.form-control, .dataTable-input {
    display: block;
    width: 100%;
    padding: 0.875rem 1.125rem;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1;
    color: #69707a;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #c5ccd6;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.35rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.nav-borders .nav-link.active {
    color: #0061f2;
    border-bottom-color: #0061f2;
}
.nav-borders .nav-link {
    color: #69707a;
    border-bottom-width: 0.125rem;
    border-bottom-style: solid;
    border-bottom-color: transparent;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0;
    padding-right: 0;
    margin-left: 1rem;
    margin-right: 1rem;
}

.card-body{
    max-width: 80%;
}