<div class="container">
    <mat-toolbar class="header">
        <img class="header-project-logo" [src]='projectLogo' alt="">
        <span class="header-project-heading">FurScan</span>

        <span class="example-spacer"></span>



    </mat-toolbar>

    <section *ngIf="!emailSubmitted" style="margin: 10% 0%;">
        <div class="container-fluid h-custom">
            <div class="row d-flex justify-content-center align-items-center sign-up">
                <div class="card shadow text-center" style="padding: 0%; border: none; border-radius: 15px;">
                    <div class="card-header h5 text-white bg-dark">Password Reset</div>
                    <div class="card-body px-5">
                        <p class="card-text py-2">
                            Enter your email address, and we'll send you an email with instructions to reset your
                            password.
                        </p>
                        <div class="form-outline mb-4">
                            <input style="border: 1px solid black; border-radius: 8px;" type="email" id="typeEmail"
                                class="form-control" [(ngModel)]="email" (input)="validateEmail()" />
                            <label class="form-label" for="typeEmail">Email input</label>
                            <div id="emailError" class="text-danger">{{ emailErrorMessage }}</div>
                        </div>
                        <button class="btn btn-dark btn-lg w-100" [disabled]="!isEmailValid" (click)="resetPassword()">
                            Reset password
                        </button>
                        <div class="d-flex justify-content-between mt-4">
                            <h4 class="text-primary" (click)="navigateLogin()">Login</h4>
                            <h4 class="text-primary" (click)="navigateSignUp()">Register</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    

    <section *ngIf="emailSubmitted && !newOtp" class="container-fluid bg-body-tertiary d-block" style="margin: 10% 0%;">
        <div class="row justify-content-center">
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card shadow bg-white mb-5 mt-5 border-0">
                    <div class="card-body p-5 text-center">
                        <h2 class="h4 mb-4">Verification</h2>
                        <p class="lead mb-4">Your code was sent to you via email</p>
    
                        <div class="form-outline mb-4">
                            <input type="number" class="form-control" [(ngModel)]="otp" name="otp" maxlength="6"
                                placeholder="Enter OTP" />
                        </div>
    
                        <button class="btn btn-dark btn-lg mb-4" (click)="verifyOtp()">
                            Verify
                        </button>
    
                        <div *ngIf="otpVerificationStatus === 'error'" class="text-danger">Incorrect OTP. Please try again.</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    

    <!-- Your HTML template -->
    <section *ngIf="newOtp" style="margin: 10% 0%;">
        <div class="container-fluid h-custom">
            <div class="row d-flex justify-content-center align-items-center sign-up">
                <div class="card text-center" style="padding: 0%;">
                    <div class="card-header h5 text-white bg-dark">Password Reset</div>
                    <div class="card-body px-5">
                        <p class="card-text py-2">
                            Reset your password.
                        </p>
                        <div class="form-outline">
                            <input style="border: 1px solid black" type="password" id="password1"
                                class="form-control my-3" [(ngModel)]="password1" (input)="validatePasswords()" />
                            <label class="form-label" for="password1">Password</label>
                        </div>

                        <div class="form-outline">
                            <input style="border: 1px solid black" type="password" id="password2"
                                class="form-control my-3" [(ngModel)]="password2" (input)="validatePasswords()" />
                            <div id="passwordMatchError" class="text-danger">{{ passwordMatchErrorMessage }}</div>
                        </div>

                        <button class="btn btn-dark w-100" [disabled]="!isPasswordValid" (click)="passwordSet()">Reset
                            password</button>
                    </div>
                </div>
            </div>
        </div>
    </section>


</div>

<div class="footer">
    <p>Copyright © 2023 FurScan. All rights reserved.</p>
</div>