.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}

body {
    background-color: rgb(113, 73, 24);
}

.header {
    padding: 0% 5% 0% 0%;
    background-color: #c1c1c1;
    top: 0;
    width: 100%;
    height: fit-content;
}

.header-project-logo {
    width: 7%;
    border-radius: 50%;
    margin: 1%;
}

.header-project-heading {
    box-sizing: border-box;
    /* font-family: fantasy; */
    font-size: 50px;
    color: #8f2726;
}

.header-button {
    width: 35%;
    margin-left: 2%;
    font-weight: 550;
}

.header-hamburger {
    width: 7%;
}

.vertical-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10%;

}

/* Style each button individually if needed */
.vertical-list button {
    margin-bottom: 5px;
    /* Add spacing between the buttons */
}

.expandedButton {
    width: 96%;
    margin-left: 2%
}

/* Media Query for smaller screens */
@media (max-width: 768px) {
    .header-project-heading {
        font-size: 40px;
        /* Adjust the font size for smaller screens */
    }
}

/* Media Query for even smaller screens */
@media (max-width: 480px) {
    .header-project-heading {
        font-size: 30px;
        /* Adjust the font size for even smaller screens */
    }
}

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


.otp-field {
    flex-direction: row;
    column-gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .otp-field input {
    height: 45px;
    width: 42px;
    border-radius: 6px;
    outline: none;
    font-size: 1.125rem;
    text-align: center;
    border: 1px solid #ddd;
  }
  .otp-field input:focus {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  }
  .otp-field input::-webkit-inner-spin-button,
  .otp-field input::-webkit-outer-spin-button {
    display: none;
  }
  
  .resend {
    font-size: 12px;
  }

  .footer {
    background-color: black;
    color: white;
    padding: 2%;
    text-align: center;
}
