.header {
    padding: 0% 5% 0% 0%;
    background-color: #c1c1c1;
    top: 0;
    width: 100%;
    height: fit-content;
}

.header-project-logo {
    width: 7%;
    border-radius: 50%;
    margin: 1%;
}

.header-project-heading {
    box-sizing: border-box;
    /* font-family: fantasy; */
    font-size: 50px;
    color: #8f2726;
}

.header-button {
    width: 35%;
    margin-left: 2%;
    font-weight: 550;
}

.header-hamburger {
    width: 7%;
}

.vertical-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10%;

}

/* Style each button individually if needed */
.vertical-list button {
    margin-bottom: 5px;
    /* Add spacing between the buttons */
}

.expandedButton {
    width: 96%;
    margin-left: 2%
}

/* Media Query for smaller screens */
@media (max-width: 768px) {
    .header-project-heading {
        font-size: 40px;
        /* Adjust the font size for smaller screens */
    }
}

/* Media Query for even smaller screens */
@media (max-width: 480px) {
    .header-project-heading {
        font-size: 30px;
        /* Adjust the font size for even smaller screens */
    }
}




@media (min-width: 1025px) {
    .h-custom {
    height: 100vh !important;
    }
    }
    .card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
    }
    .card-registration .select-arrow {
    top: 13px;
    }
    
    .gradient-custom-2 {
    /* fallback for old browsers */
    background: #a1c4fd;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(161, 196, 253, 1), rgba(194, 233, 251, 1));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(161, 196, 253, 1), rgba(194, 233, 251, 1))
    }
    
    .bg-indigo {
    background-color: #4835d4;
    }
    @media (min-width: 992px) {
    .card-registration-2 .bg-indigo {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    }
    }
    @media (max-width: 991px) {
    .card-registration-2 .bg-indigo {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    }
    }

    .certificateUpload{
        margin-top: 2%;
        margin-bottom: 6%;
    }

    .footer {
        background-color: black;
        color: white;
        padding: 7%;
        height: 14vh;
        margin-top: auto;
        text-align: center;
        position: relative;
    }
    