body {
  background-color: rgb(113, 73, 24);
}

.header {
  padding: 0% 5% 0% 0%;
  background-color: #c1c1c1;
  top: 0;
  width: 100%;
  height: fit-content;
}

.header-project-logo {
  width: 7%;
  border-radius: 50%;
  margin: 1%;
}

.header-project-heading {
  box-sizing: border-box;
  /* font-family: fantasy; */
  font-size: 50px;
  color: #8f2726;
}

.header-button {
  width: 35%;
  margin-left: 2%;
  font-weight: 550;
}

.header-hamburger {
  width: 7%;
}

.vertical-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 10%;

}

/* Style each button individually if needed */
.vertical-list button {
  margin-bottom: 5px;
  /* Add spacing between the buttons */
}

.expandedButton {
  width: 96%;
  margin-left: 2%
}

/* Media Query for smaller screens */
@media (max-width: 768px) {
  .header-project-heading {
    font-size: 40px;
    /* Adjust the font size for smaller screens */
  }
}

/* Media Query for even smaller screens */
@media (max-width: 480px) {
  .header-project-heading {
    font-size: 30px;
    /* Adjust the font size for even smaller screens */
  }
}

.example-spacer {
  flex: 1 1 auto;
}

.about-section {
  margin: 0% !important;
}

.about-section-bg1 {
  background: #c1c1c1;
}

.about-section-bg2 {
  background: #8c98a3;
}

.about-section-header {
  font-size: 2.3rem;
  line-height: normal;
}

.about-section-subheader {
  font-size: 1.90rem;
  line-height: normal;
}

.about-section-description {
  font-size: 1.25rem;
  font-weight: 500;
  /* font-family: cursive; */
}

.carousel-images {
  vertical-align: middle;
  width: 400px;
  height: 300px;
  border-radius: 30%;
  margin-bottom: 5%;
  margin-top: 0;
}

.carousel {
  margin: 0 auto;
  padding: 0;
  position: relative;
  overflow: hidden;
}

.carousel-inner {
  display: flex;
  width: 300%;
  /* 100% multiplied by the number of slides */
  transition: transform 0.3s ease-in-out;
}

.carousel-item {
  width: 33.33%;
  height: fit-content;
  padding: 2%;
  padding-top: 1.5rem;
}


.carousel-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  color: #333;
  background: transparent;
  border: none;
  cursor: pointer;
}

.carousel-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.carousel-text {
  /* font-family: cursive; */
  font-weight: 600;
  font-size: large;
}

.footer-copyright {
  font-weight: 550;
}

.footer{
  margin: 0% !important;
}

.full-width-container-footer {
  width: 100% !important;
  max-width: inherit;
  margin: 0;
  padding: 0;
}

