.header {
    padding: 0% 5% 0% 0%;
    background-color: #c1c1c1;
    top: 0;
    width: 100%;
    height: fit-content;
}

.header-project-logo {
    width: 7%;
    border-radius: 50%;
    margin: 1%;
}

.header-project-heading {
    box-sizing: border-box;
    /* font-family: fantasy; */
    font-size: 50px;
    color: #8f2726;
}

.header-button {
    width: 50%;
    margin-left: 2%;
    font-weight: 550;
}

.header-hamburger {
    width: 7%;
}

.vertical-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 2%;

}

/* Style each button individually if needed */
.vertical-list button {
    margin-bottom: 5px;
    /* Add spacing between the buttons */
}

.expandedButton {
    width: 96%;
    margin-left: 2%
}

/* Media Query for smaller screens */
@media (max-width: 768px) {
    .header-project-heading {
        font-size: 40px;
        /* Adjust the font size for smaller screens */
    }
}

/* Media Query for even smaller screens */
@media (max-width: 480px) {
    .header-project-heading {
        font-size: 30px;
        /* Adjust the font size for even smaller screens */
    }
}

.example-spacer {
    flex: 1 1 auto;
}

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.footer {
    background-color: black;
    color: white;
    padding: 2%;
    text-align: center;
}

.userInfo {
    background: #8c98a3;
    margin: 0% !important;
    display: flex;
    padding: 6%;
}

.welcomeMessage {
    font-size: 2.25rem;
    font-weight: 600;
}

.upload-button {
    width: 30%;
    margin-left: 2%;
    font-weight: 550;
}

.search-tab {
    margin: 0 auto;
    margin: 0% !important;
    padding: 6%;
    height: 68vh;
}

.search-input {
    width: 97%;
    /* Adjust input width as needed */
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
}

.search-button {
    width: 30%;
    /* Adjust button width as needed */
    border-radius: 0 5px 5px 0;
}

/* .footer {
    background-color: black;
    color: white;
    padding: 4%;
    height: 9vh;
    margin-top: auto;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0%;
} */

.data-table {
    width: 97%;
    /* Adjust the width as needed */
    margin: 5% 0%;
    /* Center the table and add margin */
    border-collapse: collapse;
    table-layout: fixed;
    white-space: pre-wrap;
    word-wrap: break-word;
    background-color: #e2e5ee;
    border: 1px solid white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Set border color to white */
}

.data-table th,
.data-table td {
    border: 1px solid #000;
    padding: 10px;
    text-align: center;
}

.data-table th,
.data-table td {
    border: 1px solid black;
    /* Set border color to white */

}

.scrollable-tbody {
    font-weight: 600;
    font-size: 0.9rem;
}

.table-heading {
    background-color: black;
    color: white;
}

.table-container {
    max-height: 50vh;
    overflow-y: scroll;
}


.custom-modal {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.search-tab {
    /* width: 80%; */
    margin: 0 auto;
    /* background: #8c98a3; */
    margin: 0% !important;
    padding: 6%;
    height: 68vh;
}

.search-input {
    width: 97%;
    /* Adjust input width as needed */
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
}

.search-button {
    width: 30%;
    /* Adjust button width as needed */
    border-radius: 0 5px 5px 0;
}

.pagination-controls {
    margin-top: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.btn-secondary,
.btn-primary {
    width: 15%;
    align-self: flex-start;
    /* Align buttons to the start (left) of the container */
}

.modal-footer {
    display: flex;
    justify-content: flex-end;
    word-wrap: break-word;
}

.not-reviewed {
    color: red; /* Text color for "Not reviewed" */
    font-weight: 550; /* Make the text bold for emphasis */
    text-decoration: underline; /* Add underline to make it stand out */
}

.reviewed {
    color: #127a0d;
    font-weight: 550; /* Make the text bold for emphasis */
    font-style: italic;
}
