.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    padding: 0% 5% 0% 0%;
    background-color: #c1c1c1;
    top: 0;
    width: 100%;
    height: fit-content;
}

.header-project-logo {
    width: 7%;
    border-radius: 50%;
    margin: 1%;
}

.header-project-heading {
    box-sizing: border-box;
    /* font-family: fantasy; */
    font-size: 50px;
    color: #8f2726;
}

.header-button {
    width: 50%;
    margin-left: 4%;
    font-weight: 550;
}

.header-hamburger {
    width: 7%;
}

.vertical-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 2%;

}

/* Style each button individually if needed */
.vertical-list button {
    margin-bottom: 5px;
    /* Add spacing between the buttons */
}

.expandedButton {
    width: 96%;
    margin-left: 2%
}

/* Media Query for smaller screens */
@media (max-width: 768px) {
    .header-project-heading {
        font-size: 40px;
        /* Adjust the font size for smaller screens */
    }
}

/* Media Query for even smaller screens */
@media (max-width: 480px) {
    .header-project-heading {
        font-size: 30px;
        /* Adjust the font size for even smaller screens */
    }
}

.example-spacer {
    flex: 1 1 auto;
}

.footer {
    background-color: black;
    color: white;
    padding: 2%;
    text-align: center;
}

.card-body{
    font-weight: 600;
}

.diseaseInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f8f9fa;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    border: 1px solid #d1d3e2;
    border-radius: 10px;
    /* font-family: 'Arial', sans-serif; */
    color: black;
    font: message-box;
}